* {
  box-sizing: border-box;
}

.jumbotron {
	background-color: green;
	color: white;
}

.panel-default>.panel-heading {
	background-color: orange;
	color: white;
}

.btn {
	background-color: green;
}